---
import Layout from "@layouts/Layout.astro";
---

<Layout
    title="- Error"
    description="Ha habido un error intentelo más tarde, gracias"
>
    <div>
        <h2>ERROR 404 :(</h2>
    </div>
</Layout>

<style>
    div {
        min-height: 65dvh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    h2 {
        text-align: center;
        padding-top: 50px;
        font-size: 50px;
        background: linear-gradient(90deg, var(--blueNeros), var(--pinkNeros));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    @media (max-width: 767px) {
        h2 {
            font-size: 32px;
        }
    }
</style>
