---
import InstagramFeed from "@components/InstagramFeed";
import Sponsors from "@components/Sponsors.astro";
import Layout from "@layouts/Layout.astro";
const token = import.meta.env.INSTAGRAM_ACCESS_TOKEN;
---

<Layout title="- Novedades" description="Página de las últimas novedades">
    <h2 data-aos="fade-in" data-aos-duration="800">Últimas novedades</h2>
    <InstagramFeed token={token} client:visible />
    <Sponsors />
</Layout>

<style>
    h2 {
        text-align: center;
        padding-top: 50px;
        font-size: 50px;
        background: linear-gradient(90deg, var(--blueNeros), var(--pinkNeros));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    @media (max-width: 767px) {
        h2 {
            font-size: 32px;
        }
    }
</style>
