---
import Sponsors from "@components/Sponsors.astro";
import Techniques from "@components/Techniques.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title=" - Técnicas" description="Página de nuestras técnicas">
    <h2 data-aos="fade-in" data-aos-duration="800">Sabemos lo que necesitas</h2>
    <Techniques />
    <Sponsors />
</Layout>

<style>
    h2 {
        text-align: center;
        padding-top: 50px;
        font-size: 50px;
        background: linear-gradient(90deg, var(--blueNeros), var(--pinkNeros));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    @media (max-width: 767px) {
        h2 {
            font-size: 32px;
            width: 90%;
            margin: auto;
        }
    }
</style>
