.hamburger {
  padding: 15px 15px;
  display: block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: rgb(104, 104, 104);
}

.hamburger.is-active {
  z-index: 200;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: var(--grayNeros);
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger {
  display: none;
}

@media (max-width: 1024px) {
  .hamburger {
    display: block;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, var(--blueNeros), var(--pinkNeros));
  opacity: 0.9;
  display: none;
  z-index: 150;
  align-items: center;
}

.overlay.is-active {
  display: flex;
}

.overlay div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 50px;
  gap: 25px;
}

.overlay div a {
  width: fit-content;
  display: flex;
  text-decoration: none;
  align-items: center;
  font-size: 35px;
  gap: 5px;
  color: white;
  position: relative;
  transition: all 0.7s;
}

.overlay div .actual-page,
.overlay div a:hover {
  font-weight: 500;
  transform: scale(1.2);
}

.overlay div a::after {
  background-color: white;
  content: "";
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: width 0.7s;
  width: 0;
}

.overlay div a:nth-child(even)::after {
  background-color: white;
}

.overlay div a:hover::after {
  width: 100%;
}

.overlay div .actual-page::after {
  width: 100%;
}
