---
const slide_pictures = [
    { src: "/media/slider/slider-1.webp", alt: "Slide 1" },
    { src: "/media/slider/slider-2.webp", alt: "Slide 2" },
    { src: "/media/slider/slider-3.webp", alt: "Slide 3" },
];
---

<div id="container">
    <h1>Fisioterapia Neros Alcorcón</h1>
    <div class="slider">
        {
            slide_pictures.map((slide) => (
                <div class="slide">
                    <img src={slide.src} alt={slide.alt} class="imgSlide" />
                </div>
            ))
        }
    </div>
    <button class="prev-btn">&#9665;</button>
    <button class="next-btn">&#9655;</button>
</div>

<style>
    #container {
        position: relative;
        overflow: hidden;
        max-height: 400px;
    }

    h1 {
        width: fit-content;
        height: fit-content;
        padding: 0 30px;
        position: absolute;
        font-size: 60px;
        inset: 0;
        margin: auto;
        z-index: 20;
        background: linear-gradient(90deg, var(--blueNeros), var(--pinkNeros));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .slider {
        display: flex;
        transition: transform 1s;
    }

    .slide {
        flex: 0 0 100%;
    }

    .imgSlide {
        width: 100%;
    }

    #container > button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: transparent;
        border: none;
        font-size: 26px;
        cursor: pointer;
        color: white;
    }

    .prev-btn {
        left: 10px;
        padding: 5px;
        background: rgba(255, 255, 255, 1);
    }

    .next-btn {
        right: 10px;
        padding: 5px;
        background: rgba(255, 255, 255, 1);
    }

    @media (max-width: 1024px) {
        h1 {
            font-size: 35px;
        }
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const slider = document.querySelector(".slider");
        const slides = document.querySelectorAll(".slide");
        const prevButton = document.querySelector(".prev-btn");
        const nextButton = document.querySelector(".next-btn");

        let currentIndex = 0;
        let intervalId;

        function updateSlider() {
            slider.style.transform = `translateX(-${currentIndex * 100}%)`;
        }

        function nextSlide() {
            currentIndex = (currentIndex + 1) % slides.length;
            updateSlider();
        }

        function startAutoSlide() {
            intervalId = setInterval(nextSlide, 4000);
        }

        function stopAutoSlide() {
            clearInterval(intervalId);
        }

        prevButton.addEventListener("click", () => {
            currentIndex = (currentIndex - 1 + slides.length) % slides.length;
            updateSlider();
            stopAutoSlide();
        });

        nextButton.addEventListener("click", () => {
            currentIndex = (currentIndex + 1) % slides.length;
            updateSlider();
            stopAutoSlide();
        });

        startAutoSlide();
    });
</script>
