<div>
    <img src="/media/sponsors/colegioFisiosMadrid.png" alt="" />
    <img src="/media/sponsors/brodevs.png" alt="" />
</div>

<style>
    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 50px;
        padding: 50px 0;
    }

    img {
        width: 150px;
    }

    @media (max-width: 700px) {
        div {
            flex-direction: column;
        }
    }
</style>
