---
    import Arrow_upward from '@icons/Arrow_upward.astro'
---

<div id="go_to_top_link">
    <a href="#">
        <Arrow_upward />
        <img src='/media/logo.png' alt="" />
    </a>
</div>

<style>
    #go_to_top_link {
        font-size: 16px;
        gap: 5px;
        display: flex;
        flex-direction: column;
    }

    #go_to_top_link a {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #go_to_top_link a:hover {animation: bounce 0.9s;}

    img {width: 150px;}

    @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
            transform: translateY(0);
        }
        40% {
            transform: translateY(-10px);
        }
        60% {
            transform: translateY(-5px);
        }
    }

    @media (max-width: 1024px) {
        #go_to_top_link {
            align-items: center;
        }
    }
</style>

<script>
    const handleClick = (event) => {
        event.preventDefault();
        window.scrollTo({
            top: 0,
            behavior: "smooth"
        });
    };

    document.addEventListener("DOMContentLoaded", () => {
        const a = document.querySelector("#go_to_top_link a");
        a.addEventListener("click", (e) => {
            handleClick(e);
        })
    })
</script>