---

---

<div id="info">
    <h4>Información</h4>
    <a href="/informacion/aviso-legal">Aviso legal</a>
    <a href="/informacion/condiciones-de-uso">Condiciones de uso</a>
    <a href="/informacion/politica-de-privacidad">Política de privacidad</a>
    <a href="/informacion/cookies">Cookies</a>
</div>

<style>
    #info {
        font-size: 16px;
        gap: 5px;
        display: flex;
        flex-direction: column;
        width: 300px;
    }

    h4 {
        font-size: 20px;
        text-decoration: underline;
    }

    #info a {
        color: #939393;
    }
    #info a:hover {
        color: white;
    }

    @media (max-width: 1024px) {
        #info {
            align-items: center;
        }
    }
</style>
